
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.well {
  height: 70px;
}

.git-icon {
height: 30px;
width: 30px;
}

.well a{
  margin: 8px;
  color: #333333;
  font-weight: bold;
}

form{
  display: inline-block;
  text-align: center;
}

#search-bar{
  padding-right: 150px;
}
.dropdown{
  display: inline-block;
}
.dropdown button{
  background-color: #F5F5F5;
  border: none;
  display: inline-block;
}

#dropdowns{
  padding-left: 200px;
}

#dropdown-pic img{
  height: 20px;
  border-radius: 3px;
}

.heading-menu span{
  color: #7E7676;
}

.hm{
  margin-left: 20px;
}

.heading-menu{
padding-bottom: 15px;
border-bottom: 1px solid lightgrey;
}

.hm-number{
  background-color: #EEEEEE;
  border-radius: 40%;
  padding: 1px 5px;
  margin-left: 5px;
}

.stars{
  display: inline-block;
}

.drop-menu{
border-bottom: 1px solid lightgrey;
margin: 10px 0px;
padding-bottom: 10px;
}

.drop-menu input{
  padding: 5px 150px 5px 5px;
  margin-right: 15px;
}

.drop-title{
  color: #828282;
  opacity: 0.9;
}

.drop-list{
  font-weight: bold;
}

#dropdown-type{
  border: 1px solid #D5D5D5;
}

#sidebar img{
  border-radius: 7px;
}
.bio{
  color: #4078C0;
}
#orgs img{
  height: 35px;
  border-radius: 3px;
}

h3{
  color: #4078C0;
  font-size: 20px;
}

.repo-color-HTML{
    background-color: red;
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.repo-color-CSS{
    background-color: purple;
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.repo-color-JavaScript{
    background-color: yellow;
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.repo-text{
  color: #76767E;
  font-size: 12px;
}

.stat-line{
  width: 100px;
  height: 2px;
  background-color: #E2EDA9;
  float: right;
}

#updated{
  margin-left: 10px;
}

#scroller{
  z-index: 100;
  background-color: #FFFFFF;
}

#new-repo{
  border-top: 1px solid #05591e;
  background: #2a8f25;
  background: -webkit-gradient(linear, left top, left bottom, from(#60d457), to(#2a8f25));
   background: -webkit-linear-gradient(top, #60d457, #2a8f25);
   background: -moz-linear-gradient(top, #60d457, #2a8f25);
   background: -ms-linear-gradient(top, #60d457, #2a8f25);
   background: -o-linear-gradient(top, #60d457, #2a8f25);
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  fill: currentColor;
  margin-left: 10px;
}

#new-repo a{
  color: white;
  text-decoration: none;
}

#new-repo:hover{
  border-top-color: #177825;
   background: #177825;
   color: white;
}

footer{
  border-top: 1px solid #EEEEEE;
  padding: 35px 0px;
}

footer .copyright{
  color: #7E767E;
}

footer span{
  font-size: 13px;
  color: #4078C0;
  margin: 5px;
}

.left-footer{
  display: inline-block;
}

.right-footer{
  float: right;
  display: inline-block;
}

footer img{
  display: inline-block;
  margin-left: 130px;
  height: 20px;
}

.page-body{
  margin-bottom: 30px;
}
